<launch>
	<param name="robot_type" value="mover6"/>
	<param name="robot_description" textfile="$(find cpr_rviz)/config/CPRMover6.urdf.xacro" />

	<param name="use_gui" value="True"/>
	<!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node-->

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find cpr_rviz)/launch/cpr_mover6.rviz" output="screen" />

	
</launch>

